<h1>{{ 'MEMBERSHIP_WHEGYM' | oTranslate }}</h1>
<o-form #form attr="payment_detail" service="users" entity="user" fxLayout="column"
show-header="no" header-actions="I" keys="user_" keys-sql-types="VARCHAR"
show-header-navigation="no">

    <!-- <o-row>
      <o-text-input class="input-padding" attr="user_" width="375px" required="no" enabled="no"></o-text-input>
      <o-text-input class="input-padding" attr="active" width="375px" required="no" enabled="no"></o-text-input>
      <o-text-input class="input-padding" attr="renovationdate" width="375px" required="no" enabled="no"></o-text-input>
    </o-row> -->
  

</o-form>

<p>
    {{"INFO_PAYMENT0" | oTranslate }}
    <span class="title__reviews">WheGym</span>
    {{"INFO_PAYMENT1" | oTranslate }} <br>
    {{"INFO_PAYMENT2" | oTranslate }}<br>
    {{"INFO_PAYMENT3" | oTranslate }}
</p>
<div class="container-text">
    <div class="box-text1">
        <h2 class="title-text1">Cuota Activa</h2>
        <ol>
            <li><i style="color: #0B374D;">✔</i> Sin comprometer tu presupuesto</li>
            <li><i style="color: #0B374D;">✔</i> Acceso completo a los gimnasios</li>
            <li><i style="color: #0B374D;">✔</i> ¡Las mañanas son tuyas!</li>
        </ol>
    </div>
    <div class="box-text2">
        <h2 class="title-text2">Cuota Vital</h2>
        <ol>
            <li><i style="color: #1286A8;">✔</i> Tu entrenamiento, tu horario</li>
            <li><i style="color: #1286A8;">✔</i> Acceso completo a los gimnasios</li>
            <li><i style="color: #1286A8;">✔</i> También de tardeo</li>
        </ol>
    </div>
    <div class="box-text3">
        <h2 class="title-text3">Cuota Integral</h2>
        <ol>
            <li><i style="color: #D2B53B;">✔</i> El límite lo pones tú</li>
            <li><i style="color: #D2B53B;">✔</i> Acceso completo a los gimnasios</li>
            <li><i style="color: #D2B53B;">✔</i> Horario ilimitado</li>
        </ol>
    </div>
</div>
<p>
    En WheGym, creemos que la diversidad es clave, ¡así que elige la cuota que mejor se adapte a ti y comienza a alcanzar tus objetivos hoy mismo!
</p>
<ul>
    <li style="--accent-color:#0B374D">
        <div class="icon"><i class="fa fa-play" aria-hidden="true"></i></div>
        <div class="title">Activa</div>
        <div class="descr">19'99€</div>
        <button (click)="openPaymentPage('active')" class="button-pay">acceder</button>
    </li>
    <li style="--accent-color:#1286A8">
        <div class="icon"><i class="fa fa-forward" aria-hidden="true"></i></div>
        <div class="title">Vital</div>
        <div class="descr">27'99€</div>
        <button (click)="openPaymentPage('vital')" class="button-pay">acceder</button>
    <li style="--accent-color:#D2B53B">
        <div class="icon"><i class="fa fa-fast-forward" aria-hidden="true"></i></div>
        <div class="title">Integral</div>
        <div class="descr">49'99€</div>
        <button (click)="openPaymentPage('integral')" class="button-pay">acceder</button>
    </li>
    <!--  -->
</ul>
     