/* .o-app-sidenav-sidenav {
    display: none !important;
}

.o-app-sidenav-sidenav .o-scroll .mat-drawer .mat-sidenav .ng-tns-c20-0 .ng-trigger .ng-trigger-transform .ng-star-inserted .mat-drawer-closed .mat-drawer-side {
    visibility: hidden !important;
} */

.o-radio {
    width: 100px;
    height: 10px;
}

#radio {
    height: 40px;
}

.row-especial {
    height: 70px;
}
p{
    font-size: 0.5rem;
    margin-bottom: 10px;
}
.radio-edit {
    display:flex;
    flex-direction: row;
    gap: 30px;
    
}

.login-column:nth-child(1){
    font-size: 1rem !important;
}
.o-form-toolbar-header .mat-toolbar .mat-toolbar-single-row{
    background-color: red;
}

.o-form-toolbar .mat-toolbar,
.card-register>.o-form-toolbar-header{
  background-color: #B2A000 !important;
  width: 40%;
  margin-top: 20px;
}