/* You can add global styles to this file, and also import other style files */
#photo > div > div > img {
  height: 15rem;
  width: 15rem;
  border-radius: 10rem;
}

.images {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

  gap: 16px;

  right: 20%;
}

.o-image .o-image-content.o-image-auto-fit .o-image-display-container > img {
  border-radius: 8px;

  width: 100%;

  height: auto;

  box-shadow: 0px 0px 30px #000;
}

//botón servicios
.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
  background-color: #B2A000 ;
 }
 

//  detalle gym usuario

 .containerGridDetail{
 
  display: flex;
  flex-direction: column;
  gap:20px;
}
 .container_log_datos{
  display: flex;
 
  gap:20px;
 
 }
 
 .titulo{
  margin-top:2rem;
  font-size: 5rem;
  text-shadow: 8px 8px 8px #b2a00093;
 }
 
 
 .datos{
  display: flex;
  flex-direction: column;
  gap:10px;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  align-content: center;
 }
 
 
.spanDescription{
  font-size: 2.5rem;
  color:#B2A000;
}
 
 .images_carro{
 
   
    display: grid;
 
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
 
    gap: 10px;}
 
 
    .image1{
      width: 90%;
    }
 
    ///////////////////////GYM DETAIL FORM///////////////////////
    .containerform{
      display: flex;
      flex-direction: column;
      margin:5px
    }
    .datosform{
      display: flex;
      flex-direction: column;
      gap:30px;
      width: 80%;
      justify-content: center;
      align-content: center;
    }
    .logoform{
      width: 500px;
      height: 500px;
      margin: -16px;
     }
