<!-- <div fxLayout="row" layout-padding fxLayoutAlign="center center">
  <p>
    Ontimize web seed application home component
  </p>
</div> -->
<div  class ="hijo"fxLayout="row" layout-padding fxLayoutAlign="center center">
  
  <o-card-menu-item class="admin" button-text="MY_GYMS" title="" button-color="white"
 icon="fitness_center" route="/main/gyms">
</o-card-menu-item>
  <o-card-menu-item  id="service" button-text= "MY_SERVICES" title="" 
 icon="edit_document" route= "/main/gymservices">
</o-card-menu-item>
  <o-card-menu-item class="usuario" button-text="GYMS" title=""
 icon="directions_run" route="/main/gymsuser">
</o-card-menu-item>
  <o-card-menu-item id="access" button-text="QR_CODE" title=""
 icon="qr_code" route="/main/accesscard">
</o-card-menu-item>
</div>

<div container__home>
  <o-list #list attr="reviews" title="BEST_REVIEWS" service="reviews" entity="review" refresh-button ="no" quick-filter="no"
  delete-button ="no" keys="reviewid" columns="reviewid;content;rate;date;user_;gymid;photo;name" row-height="large">


    <o-list-item *ngFor="let row of list.dataArray">
      <o-image class ="image10" attr="photo" data="{{ row.photo }}" read-only = "true" show-controls = "false" 
      type="image"
      empty-image="assets/images/no-image.png"
      image-type="base64"
      style="height: 200;"
      ></o-image>
      <o-list-item-text title="{{ row.name }}" primary-text="{{ getStars(row.rate) }}" secondary-text="{{ row.content }}" class="list-text">
      </o-list-item-text>
    </o-list-item>

  </o-list>

</div>

<div class="footer">
 

  <div class="grid">
    <div>
      <h3>WheGym</h3>
      <img src="../../../assets/images/logo.png">
    </div>
    <div></div>
    <div>
      <h3>{{'ABOUT_US' | oTranslate}}</h3>
      <p>{{'TEXT_ABOUT' | oTranslate}}</p>
    </div>
    <div></div>
    <div>
      <h3>{{'CONTACT' | oTranslate}}</h3>
      <ul>
        <li><mat-icon>mail</mat-icon>wheGym@wheGym.com</li>
        <li><mat-icon>call</mat-icon>+34 645 879 345</li>
        <li><mat-icon>pin_drop</mat-icon>Edificio Citexvi, Fonte das Abelleiras, s/n · Local 27, 36310 Vigo, Pontevedra</li>
      </ul>
    </div>
  </div>
</div>