.mat-button .mat-button-base .ng-star-inserted{
    margin-top: 10px;
}

.list-text {
    background-color: white;
    padding: 12px;
}

.footer {
    width: 100%;
    margin-left: -16px;
    padding-right: 32px;
    background-color: white;
    display: flex;
    justify-content: center;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

