<o-form-layout-manager
  title="{{ 'GYMS' | oTranslate }}"
  separator=" "
  mode="tab"
  label-columns="name"
>
  <div fxFill>
    <o-table
      attr="gymsTable"
      service="gyms"
      entity="gym"
      keys="gymid"
      columns="gymid;photo;name;address;city;cif;phone;email;schedule;description;rate;"
      visible-columns="photo;name;address;city;phone;email;schedule;description;rate"
      query-rows="20"
    >
      <o-table-column
        attr="photo"
        title="photo"
        orderable="no"
        searchable="no"
        type="image"
        avatar="yes"
        empty-image="assets/images/no-image.png"
        image-type="base64"
      ></o-table-column>
    </o-table>
  </div>
</o-form-layout-manager>
